{% extends "skeleton.jinja" %}
{% block headext %}
	<link rel="stylesheet" href="/static/styles/index.css">
{% endblock %}

{% block content %}
	<h1>Home</h1>
	<h2>Userscripts</h2>
	<a href="/static/userscripts/ats-redirect.user.js">ATS redirect</a>
{% endblock %}
